.our_pricing {
	background: #f6f9fc;
	padding-bottom: 75px !important;
}
.our_pricing_tent h4 {
    color: #85a0f1;
    font-size: 20px;
}
.our_pricing_tent h1 {
	font-weight: 600;
	padding: 10px 0 38px 0;
	position: relative;
}
.our_pricing_tent h1::before {
	content: "";
	top: 73px;
	left: 610px;
	height: 2px;
	width: 51px;
	position: absolute;
	background: #3c63dd;
}
.our_pricing_tent p {
	font-size: 18px;
	color: #554e4e;
}

.our_pricing_item {
	background: #fff;
	padding: 20px;
	margin-top: 80px !important;
	border-radius: 7px;
	transition: .6s;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
}

.our_pricing_item:hover{
    transform: translateY(-13px);
}
.our_pricing_item h3 {
	font-size: 30px;
	padding-bottom: 20px !important;
	font-weight: 500;
}
.our_pricing_item h5 {
	color: #606060;
	margin-top: -8px;
	font-size: 15px;
}
.our_pricing_item h1{
    font-size: 40px;
    font-weight: 600;
}
.our_pricing_item:hover h1{
    color: #f30707;
    transform:scaleX(2);
    transition: .7s;
}
.our_pricing_item h4 {
	font-size: 20px;
	color: #606060;
	margin-top: 80px;
	position: relative;
}
.our_pricing_item p {
	color: #606060;
	line-height: 43px;
	padding: 13px 0;
	font-size: 20px;
}

.our_pricing_item h4::after {
	content: "";
	top: -32px;
	left: 18px;
	position: absolute;
	height: 1px;
	width: 332px;
	background: #3763eb;
}
.pricing_btn {
	color: #fff !important;
	background: #3763eb !important;
	border-color: #3763eb !important;
	/* padding-bottom: 10px; */
	padding: 10px 30px;
	border-radius: 50px;
	font-weight: 600;
	margin-bottom: 22px;
}
.our_pricing_item:hover .pricing_btn{
    color: #fff !important;
    background: #f30707 !important;
    border: #f30707 !important;
}

.free_version{
    background: url(img/free-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0 !important;

}
.free_version_text{
    color: #fff;
}
.free_version_text h5{
    color: #f30707;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {
        transform: rotate(180deg);
    }
    75%{
        transform: scaleX(2);
    }
  }
.free_version_text h1 {
	position: relative;
	font-size: 53px;
	font-weight: 600;
	padding: 10px 40px !important;
	line-height: 73px;
}
.free_version_text h1::before {
	content: "";
	top: 174px;
	left: 380px;
	width: 70px;
	height: 3px;
	background: #fff;
	position: absolute;
	border-radius: 50px;
}
.free_version_text p {
	font-size: 15px;
	margin-top: 49px !important;
}

.free_btn {
	color: #3763eb !important;
	background: #fff !important;
	border: none !important;
	/* padding-bottom: 10px; */
	padding: 10px 30px;
	border-radius: 50px;
	font-weight: 600;
	margin-bottom: 22px;
	font-size: 18px;
    position: relative;
    z-index: 1;

}
.free_btn{
    /* background: #000 !important; */
    border-color: black !important;
}
.free_btn::before{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #000 !important;

    color: #fff !important;
    border: none !important;
    position: absolute;
    border-radius: 50px;
    transition: .6s;
    z-index: -1;
    
}
.free_btn:hover::before{
    width: 100%;
}